In [1]:
import math
import numpy as np
import pandas as pd

In [3]:
    np.set_printoptions(linewidth=400)
    x = np.arange(10, dtype=float)
    y = (3 * 2 ** x + 4) / 10

In [4]:
x

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.])

In [5]:
y

array([   0.7,    1. ,    1.6,    2.8,    5.2,   10. ,   19.6,   38.8,   77.2,  154. ])

In [8]:
data = pd.read_table('Distance.txt', sep='\t', encoding='GBK', thousands=',')
data

    名称      距离(千米)
0   水星    57910000
1   金星   108200000
2   地球   149600000
3   火星   227940000
4   木星   778330000
5   土星  1429400000
6  天王星  2870990000
7  海王星  4504000000

In [9]:
distance = data.iloc[:, 1].astype(float)
distance

0    5.791000e+07
1    1.082000e+08
2    1.496000e+08
3    2.279400e+08
4    7.783300e+08
5    1.429400e+09
6    2.870990e+09
7    4.504000e+09
Name: 距离(千米), dtype: float64

In [10]:
distance[2]

149600000.0

In [12]:
distance /= distance[2]
distance

0     0.387099
1     0.723262
2     1.000000
3     1.523663
4     5.202741
5     9.554813
6    19.191110
7    30.106952
Name: 距离(千米), dtype: float64