In [21]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process



def enum_row(row):
    print row['state']


def find_state_code(row):
    if row['state'] != 0:
        print process.extractOne(row['state'], states, score_cutoff=80)


def capital(str):
    return str.capitalize()


def correct_state(row):
    if row['state'] != 0:
        state = process.extractOne(row['state'], states, score_cutoff=80)
        if state:
            state_name = state[0]
            return ' '.join(map(capital, state_name.split(' ')))
    return row['state']


def fill_state_code(row):
    if row['state'] != 0:
        state = process.extractOne(row['state'], states, score_cutoff=80)
        if state:
            state_name = state[0]
            return state_to_code[state_name]
    return ''


if __name__ == "__main__":
    pd.set_option('display.width', 200)
    data = pd.read_excel('sales.xlsx', sheetname='sheet1', header=0)
    #print 'data.head() = \n', data.head(10)
    for c in data.columns:
        print c,
    print
    data['total'] = data['Jan'] + data['Feb'] + data['Mar']
    print data.head()
    print data['Jan'].sum()
    print data['Jan'].min()
    print data['Jan'].max()
    print data['Jan'].mean()

account name street city state postal-code Jan Feb Mar
   account                         name                                street             city          state  postal-code     Jan     Feb    Mar   total
0   211829   Kerluke, Koepp and Hilpert                    34456 Sean Highway       New Jaycob          Texas        28752   10000   62000  35000  107000
1   320563               Walter-Trantow                     1311 Alvis Tunnel    Port Khadijah  NorthCarolina        38365   95000   45000  35000  175000
2   648336   Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231   New Lilianland           Iowa        76517   91000  120000  35000  246000
3   109996  D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144       Hyattburgh          Maine        46021   45000  120000  10000  175000
4   121213                Bauch-Goldner                   7274 Marissa Common  Shanahanchester     California        49681  162000  120000  35000  317000
1462000
10000
162000
97466.6666667

In [22]:
    data['total'] = data['Jan'] + data['Feb'] + data['Mar']
    print data.head()
    print data['Jan'].sum()
    print data['Jan'].min()
    print data['Jan'].max()
    print data['Jan'].mean()

   account                         name                                street             city          state  postal-code     Jan     Feb    Mar   total
0   211829   Kerluke, Koepp and Hilpert                    34456 Sean Highway       New Jaycob          Texas        28752   10000   62000  35000  107000
1   320563               Walter-Trantow                     1311 Alvis Tunnel    Port Khadijah  NorthCarolina        38365   95000   45000  35000  175000
2   648336   Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231   New Lilianland           Iowa        76517   91000  120000  35000  246000
3   109996  D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144       Hyattburgh          Maine        46021   45000  120000  10000  175000
4   121213                Bauch-Goldner                   7274 Marissa Common  Shanahanchester     California        49681  162000  120000  35000  317000
1462000
10000
162000
97466.6666667

In [23]:
print data['total']

0     107000
1     175000
2     246000
3     175000
4     317000
5     305000
6     252000
7     275000
8     200000
9     225000
10    220000
11    322000
12    317000
13    210000
14    340000
Name: total, dtype: int64

In [24]:
    print '============='
    # 添加一行
    s1 = data[['Jan', 'Feb', 'Mar', 'total']].sum()
    print s1

=============
Jan      1462000
Feb      1507000
Mar       717000
total    3686000
dtype: int64

In [25]:
    s2 = pd.DataFrame(data=s1)
    print s2

             0
Jan    1462000
Feb    1507000
Mar     717000
total  3686000

In [26]:
 print s2.T

       Jan      Feb     Mar    total
0  1462000  1507000  717000  3686000

In [27]:
 print s2.T.reindex(columns=data.columns)

   account  name  street  city  state  postal-code      Jan      Feb     Mar    total
0      NaN   NaN     NaN   NaN    NaN          NaN  1462000  1507000  717000  3686000

In [28]:
    # 即：
    s = pd.DataFrame(data=data[['Jan', 'Feb', 'Mar', 'total']].sum()).T
    s = s.reindex(columns=data.columns, fill_value=0)
    print s

   account  name  street  city  state  postal-code      Jan      Feb     Mar    total
0        0     0       0     0      0            0  1462000  1507000  717000  3686000

In [29]:
    data = data.append(s, ignore_index=True)
    data = data.rename(index={15:'Total'})
    print data.tail()

       account                          name                    street             city        state  postal-code      Jan      Feb     Mar    total
11      231907                    Hahn-Moore  18115 Olivine Throughway    Norbertomouth  NorthDakota        31415   150000    10000  162000   322000
12      242368  Frami, Anderson and Donnelly           182 Bertie Road      East Davian         Iowa        72686   162000   120000   35000   317000
13      268755                   Walsh-Haley      2624 Beatty Parkways     Goodwinmouth  RhodeIsland        31919    55000   120000   35000   210000
14      273274                 McDermott PLC     8917 Bergstrom Meadow  Kathryneborough     Delaware        27933   150000   120000   70000   340000
Total        0                             0                         0                0            0            0  1462000  1507000  717000  3686000

In [30]:
    #apply 函数用法
    data.apply(enum_row, axis = 1)

Texas
NorthCarolina
Iowa
Maine
California
Arkansas
Mississipi
RhodeIsland
Pennsylvania
Idaho
Tenessee
NorthDakota
Iowa
RhodeIsland
Delaware
0

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
Total    None
dtype: object

In [33]:
    state_to_code = {"VERMONT": "VT", "GEORGIA": "GA", "IOWA": "IA", "Armed Forces Pacific": "AP", "GUAM": "GU",
                     "KANSAS": "KS", "FLORIDA": "FL", "AMERICAN SAMOA": "AS", "NORTH CAROLINA": "NC", "HAWAII": "HI",
                     "NEW YORK": "NY", "CALIFORNIA": "CA", "ALABAMA": "AL", "IDAHO": "ID",
                     "FEDERATED STATES OF MICRONESIA": "FM",
                     "Armed Forces Americas": "AA", "DELAWARE": "DE", "ALASKA": "AK", "ILLINOIS": "IL",
                     "Armed Forces Africa": "AE", "SOUTH DAKOTA": "SD", "CONNECTICUT": "CT", "MONTANA": "MT",
                     "MASSACHUSETTS": "MA",
                     "PUERTO RICO": "PR", "Armed Forces Canada": "AE", "NEW HAMPSHIRE": "NH", "MARYLAND": "MD",
                     "NEW MEXICO": "NM",
                     "MISSISSIPPI": "MS", "TENNESSEE": "TN", "PALAU": "PW", "COLORADO": "CO",
                     "Armed Forces Middle East": "AE",
                     "NEW JERSEY": "NJ", "UTAH": "UT", "MICHIGAN": "MI", "WEST VIRGINIA": "WV", "WASHINGTON": "WA",
                     "MINNESOTA": "MN", "OREGON": "OR", "VIRGINIA": "VA", "VIRGIN ISLANDS": "VI",
                     "MARSHALL ISLANDS": "MH",
                     "WYOMING": "WY", "OHIO": "OH", "SOUTH CAROLINA": "SC", "INDIANA": "IN", "NEVADA": "NV",
                     "LOUISIANA": "LA",
                     "NORTHERN MARIANA ISLANDS": "MP", "NEBRASKA": "NE", "ARIZONA": "AZ", "WISCONSIN": "WI",
                     "NORTH DAKOTA": "ND",
                     "Armed Forces Europe": "AE", "PENNSYLVANIA": "PA", "OKLAHOMA": "OK", "KENTUCKY": "KY",
                     "RHODE ISLAND": "RI",
                     "DISTRICT OF COLUMBIA": "DC", "ARKANSAS": "AR", "MISSOURI": "MO", "TEXAS": "TX", "MAINE": "ME"}
    states = state_to_code.keys()
    print states

['VERMONT', 'GEORGIA', 'IOWA', 'DISTRICT OF COLUMBIA', 'GUAM', 'KANSAS', 'FLORIDA', 'AMERICAN SAMOA', 'NORTH CAROLINA', 'ALASKA', 'NEW YORK', 'CALIFORNIA', 'ALABAMA', 'IDAHO', 'FEDERATED STATES OF MICRONESIA', 'Armed Forces Americas', 'DELAWARE', 'HAWAII', 'ILLINOIS', 'Armed Forces Africa', 'Armed Forces Europe', 'CONNECTICUT', 'TENNESSEE', 'MISSOURI', 'MASSACHUSETTS', 'PUERTO RICO', 'Armed Forces Canada', 'OHIO', 'MARYLAND', 'WASHINGTON', 'ARKANSAS', 'NEW MEXICO', 'SOUTH DAKOTA', 'PALAU', 'COLORADO', 'Armed Forces Middle East', 'NEW JERSEY', 'UTAH', 'MICHIGAN', 'WYOMING', 'MISSISSIPPI', 'MINNESOTA', 'OREGON', 'VIRGINIA', 'VIRGIN ISLANDS', 'MARSHALL ISLANDS', 'Armed Forces Pacific', 'SOUTH CAROLINA', 'INDIANA', 'NEVADA', 'LOUISIANA', 'NORTH DAKOTA', 'NEBRASKA', 'ARIZONA', 'WISCONSIN', 'NORTHERN MARIANA ISLANDS', 'PENNSYLVANIA', 'OKLAHOMA', 'KENTUCKY', 'RHODE ISLAND', 'MONTANA', 'NEW HAMPSHIRE', 'WEST VIRGINIA', 'TEXAS', 'MAINE']

In [35]:
 print process.extract('Mississippi', states)

[('MISSISSIPPI', 100), ('MISSOURI', 53), ('MASSACHUSETTS', 42), ('WISCONSIN', 40), ('VIRGIN ISLANDS', 38)]

In [36]:
print process.extract('Mississipi', states, limit=1)

[('MISSISSIPPI', 95)]

In [37]:
print process.extractOne('Mississipi', states)

('MISSISSIPPI', 95)